.signup-div{
    width: 40%;
    border-radius: 15px;
    /* border: 5px solid #FFFF00; */
    position: absolute;
	left: 0;
	right: 0;
	margin: auto;
    margin-top: 2%;
    justify-content: center;

}

html, body {
    width: 100%;
    height: 100%;
  }

.div-style{
    width: 100%;
    height: 100%;
}
